<% layout('layouts/boilerplate') %>



<body>

  <div id="store-products">
    <% for (let product of products){%>
      <div>
        <br />
        <a href="/products/<%= product._id%>"><img src="<%= product.image %> " alt="" class="product-thumb" /></a>
        <a href="/products/<%= product._id%>">
          <h2 class="title">
            <%= product.title %>
        </a></h2>
        <p>
          <%= product.subtitle %>
        </p>
        <p>$<%= product.price %>
        </p>
        <button class="buy-button-store">Buy</button>
        <button id="details" class="details-button-store">Details</button>
      </div>
      <%}%>

  </div>
  
  <script>

    const details = document.querySelectorAll(".details-button-store")

    let obj;

    function getProducts() {fetch('/modal')
      .then(res => res.json())
      .then(data => obj = data)
    }

    function showModal(e){
          let title = `${this.parentElement.children[3].innerText}`;
          for (let i = 0; i < obj.products.length; i++){
            if (title == obj.products[i].title){
              Swal.fire({
              title: obj.products[i].title,
            //text: `${this.parentElement.children[4].innerText}`,
            }) 
          }
        } 
      }

    window.addEventListener('DOMContentLoaded', getProducts);

    for (let detail of details) {
      detail.addEventListener('click', showModal)
    };

</script> 

  
</body>
  