<% layout('layouts/boilerplate') %>
<!-- <h1>Store</h1> -->
<div id="wrapper">
  <% for (let product of products){%>
  <div>
    <a href="/products/<%= product._id%>"> <h2><%= product.title %> </a></h2>
    <br />
    <a href="/products/<%= product._id%>"><img src="<%= product.image %> " alt="" class="product-thumb" /></a>
    <br />
    <p><%= product.subtitle %> </p>
  </div>
  <%}%>
</div>
